

body {
    background-color:black;
}

#top-bar {
    background-color:rgb(5, 1, 1);
    color: white;
    font-size:x-large;
    font-weight :bolder;
    padding: 100px ;
    text-align: center;
}
#top-bar span{
    padding: 10px;
    font-size: 100px;
    font-weight :bolder;
    color: rgb(236, 125, 125);
    }

#title h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    color:rgb(182, 162, 162) ;
}
#search-section  {
    text-align: right;
    padding: 10px ;
}

#search-section button {
    background-color:rgb(187, 164, 136);
    padding:10px;
    margin: 0px 20px;
    border-radius: 20px;
}
#search-section button:hover {
    background-color: rgb(192, 100, 100);
    color: white;
    transform: scale(1.1);
}
#search-section :hover{
    background-color:rgb(192, 100, 100);
    color: white;
    transform: scale(1.1);
}

#searchInput {
background-color: rgb(187, 164, 136);
border-radius: 10px;

    padding: 12px 12px ;
    margin: 8px;
    border: 1px solid rgb(187, 164, 136);
    border-radius: 100px;
    background-color: rgb(187, 164, 136);
    text-align: center;
}
#images {
    display: flex;
    flex-wrap:  wrap;
}
#images img{
    width: 250px;
    height: 250px;
    border-radius: 2000px;
    padding:40px;
}
    
#images img:hover{
    transform: scale(1.1);

    
}
#images h2{
    color: rgb(219, 104, 104);
    font-style: italic;
    padding-left: 30px;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}
#images .more-button button{
    background-color:rgb(187, 164, 136);
    padding:10px;
    margin: 0px 20px;
    border-radius: 20px;
}
#images button:hover{
    background-color: rgb(192, 100, 100);
    transform: scale(1.1);
}
#result {
    background-color: rgb(187, 164, 136); 
    color: white;
    padding: 10px 20px;
    margin: 10px 0px;
    border-radius: 10px;
    font-size: 16px; 
}
#embed{
    padding: 40px;
    background-color:black;
    text-align: center;
    color: pink;
    font-size: larger;  
    animation: fadeIn 5s;
    animation: fadeOut 20s;

    
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 7;}
}
@keyframes fadeOut{
    from {opacity: 7;}
    to {opacity: 0;}
}