

body {
    background-color: bisque;
}

#top-bar {
    background-color: rgb(16, 13, 49);
    color: white;
    font-size:x-large;
    font-weight :bolder;
    padding: 100px ;
text-align: center;

}

#search-section  {
    text-align: right;
    padding: 10px ;
}
#search-section input {
    padding: 12px 12px ;
    margin: 8px;
    border: 1px solid rgb(114, 69, 14);
    border-radius: 10px;
    background-color: rgb(218, 219, 226);
}
#search-section button {
    background-color:rgb(187, 164, 136);
    padding:10px;
margin: 0px 20px;
border-radius: 20px;
}
#search-section button:hover {
    background-color: rgb(16, 13, 49);
    color: white;
}
#search-section :hover{
    background-color: rgb(16, 13, 49);
    color: white;
}

#images {
    display: flex;
    flex-wrap:  wrap;
}
#images img{
    width: 250px;
    height: 250px;
    border-radius: 2000px;
    padding:10px;
   margin: 10px 00px;
 
}
    
#images img:hover{
    transform: scale(1.1);
  
}
#images h2{
    color: brown;
    font-style: italic;
    padding-left: 30px;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}
#images .more-button button{
    background-color:rgb(187, 164, 136);
    padding:10px;
margin: 0px 20px;
border-radius: 20px;

}